@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Righteous&display=swap');

body {
  background-color: rgb(40, 44, 52);
  text-align: center;
}

.Button {
  background-color: #58bbbb;
  color: rgb(40, 44, 52);
  font-size: 18px;
  padding: 15px;
  font-weight: bold;
  border-radius: 10px;
  text-align: center;
  cursor: pointer;
  min-width: 100px;
}

* {
  box-sizing: border-box;
  margin: 0;
}

/* Card */
h5 {
  margin: 0px;
  font-size: 1.4em;
  font-weight: 700;
}

p {
  font-size: 14px;
}


h2 {
  font-family: 'Permanent Marker', cursive;
}

.center {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.property-card {
  height: 18em;
  width: 14em;
  display: flex;
  margin: 20px;
  flex-direction: column;
  position: relative;
  transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  border-radius: 16px;
  overflow: hidden;
  cursor: pointer;
}

.property-image {
  height: 17em;
  width: 14em;
  padding: 1em 2em;
  position: Absolute;
  top: 0px;
  transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  background-size: cover;
  background-repeat: no-repeat;
}

.property-description {
  background-color: #FAFAFC;
  height: 7em;
  width: 14em;
  position: absolute;
  bottom: 0em;
  transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  padding: 0.5em 1em;
  text-align: center;
}


.property-card:hover .property-description {
  height: 0em;
  padding: 0px 1em;
}

.property-card:hover .property-image {
  height: 18em;
}

.property-card:hover .property-social-icons {
  background-color: white;
}

.kelompok {
  font-size: 40px;
  font-family: 'Bebas Neue', cursive;
  color: white;
}

.modal{
  text-align: center;
}

.modal p{
  margin: 16px;
  line-height: 20px;
}